@import url("https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: 'Original Surfer', cursive;
}

footer {
  width: 100%;
  background-color: lightblue;
}

footer h2 {
  font-size: 2vh;
}

footer p {
  font-size: 1.2vh;
}

footer small {
  font-size: .8vh;
}

footer .grupo1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.red-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1px;
}

/*mapa*/
.btn--twitter {
  background-color: #55acee;
}

.btn--facebook {
  background-color: #3a5795;
}

.btn--instagram {
  background-color: #C25E30;
}

header {
  background-color: lightblue;
  height: 2cm;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

header .logo {
  width: 10%;
  height: 100%;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  margin: 1cm;
}

p {
  color: black;
}

/*index*/
.intro {
  color: black;
  padding: 40px;
  padding-bottom: 40px;
  font-size: 0.5cm;
}

.intro h1 {
  text-align: center;
}

main {
  background-color: cornsilk;
}

.claseTitulo {
  font-size: 3cm;
}

/*extend*/
.color, h1 {
  color: black;
}

h1 {
  border: whitesmoke;
}

/*fin extend*/
.imagenes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: wrap;
      -ms-flex-pack: wrap;
          justify-content: wrap;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.intro {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 6vw;
}

/*mixin*/
.mainIndex {
  display: -ms-grid;
  display: grid;
  width: 100vw;
  -ms-grid-rows: 20vw 44vw;
      grid-template-rows: 20vw 44vw;
  -ms-grid-columns: 27vw 45vw 27vw;
      grid-template-columns: 27vw 45vw 27vw;
      grid-template-areas: "intro intro intro" "imagenderecha video imagenizquierda";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 2cm;
  height: 26cm;
  padding-bottom: 30vh;
}

.mainIndex img {
  height: 150;
  width: 150;
}

.intro {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: intro;
}

.imagenIzquierda {
  grid-area: imagenIzquierda;
  -ms-grid-row: 2;
  grid-row: 2/2;
  -ms-grid-column: 3;
  grid-column: 3/3;
  height: 100%;
  width: 100%;
}

.imagenIzquierda img {
  width: 100%;
  height: 60%;
}

.videoPanga {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: video;
  -ms-grid-row: 2;
  grid-row: 2/2;
  -ms-grid-column: 2;
  grid-column: 2/2;
  height: 100%;
  width: 90%;
}

.imagenDerecha {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: imagenderecha;
  -ms-grid-row: 2;
  grid-row: 2/2;
  -ms-grid-column: 1;
  grid-column: 1/1;
  height: 100%;
  width: 100%;
}

.imagenDerecha img {
  width: 100%;
  height: 60%;
}

/*galeria*/
.titulo {
  padding: 2vh;
  font-size: 10vw;
}

.galeria {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
      grid-template-areas: "surf insta" "vistas insta" "momentos insta";
  height: 100%;
}

.galeria h2 {
  width: 100%;
  font-size: 7vh;
}

.galeria figure {
  width: 18,5%;
}

.galeria img {
  width: 186px;
  height: 141px;
}

.galeria blockquote {
  width: 20vh;
  height: 70vh;
}

.momentos {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: momentos;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-grid-column: 1;
  grid-column: 1/1;
  -ms-grid-row: 3;
  grid-row: 3/3;
  padding-bottom: 9vh;
  padding-left: 3vw;
}

.vistas {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: vistas;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-grid-column: 1;
  grid-column: 1/1;
  -ms-grid-row: 2;
  grid-row: 2/2;
  padding-bottom: 9vh;
  padding-left: 3vw;
}

.surf {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: surf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-grid-column: 1;
  grid-column: 1/1;
  -ms-grid-row: 1;
  grid-row: 1/1;
  padding-bottom: 9vh;
  padding-left: 3vw;
}

.insta {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: insta;
  width: 80%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 2;
  grid-column: 2/2;
}

/*nuestras tablas*/
.linea {
  background: black;
  height: 5px;
  width: 100%;
  display: block;
}

#inicio {
  width: 50px;
  height: 50px;
  background: black;
}

.catalogo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 95%;
  margin: auto;
  grid-gap: 10px;
  padding: 40px 0;
  overflow: hidden;
}

.catalogo img {
  width: 100%;
  height: 300px;
  vertical-align: top;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.galeria > a {
  display: block;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.catalogo a:hover {
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.light-box {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.light-box img {
  width: 75vw;
  max-height: 70vh;
}

.light-box:target {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.cerrar {
  display: block;
  position: absolute;
  top: 40px;
  right: 40px;
  background: aqua;
  color: bisque;
  text-decoration: none;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}

.siguiente {
  display: block;
  background: aqua;
  color: bisque;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
}

/* familia panga*/
.presentacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.simon {
  padding-top: 5vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.tobi {
  padding-top: 5vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.juancruz {
  padding-top: 5vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.pablo {
  padding-top: 5vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.perfilTobi, .perfilJuan, .perfilSimon, .perfilPablo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  padding-left: 9vh;
  padding-top: 7vh;
}

.tobi img, .juancruz img, .simon img, .pablo img {
  width: 44vh;
  height: 29vh;
}

.tituloFamilia {
  text-align: center;
  margin-left: 30vh;
  font-size: 11vh;
}

.pablo {
  padding-bottom: 2vh;
}

/*contacto*/
.formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding-bottom: 41vh;
  padding-top: 10vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formulario h1 {
  font-size: 9vh;
}

form {
  font-size: 22px;
}

.nombre {
  margin-bottom: 3vh;
  padding-bottom: 1vh;
  text-align: center;
}

.comentario {
  margin-top: 3vh;
  padding-right: 10vh;
}

.email {
  margin-bottom: 3vh;
  text-align: center;
}

.edad {
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.no {
  margin-bottom: 3vh;
}

.enviar {
  margin-right: 3vh;
  padding: 2vh 2vh 2vh 2vh;
}

.reset {
  padding: 2vh 2vh 2vh 2vh;
}

form {
  padding-top: 6vh;
}

.nombre, .comentario {
  width: 60vh;
}

.comentario {
  height: 9vh;
}

.email {
  width: 47vh;
}

/* animaciones generales*/
li:hover {
  -webkit-transform: scale(1, 5);
          transform: scale(1, 5);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

/*tablet 768*/
@media (max-width: 768px) {
  header nav ul li a {
    margin: 3vw;
  }
  /*nosotros*/
  .mainIndex .videoPanga {
    width: 95%;
  }
  /*galeria*/
  .insta {
    padding-right: 4vw;
  }
}

/*celular invertido 480*/
@media (max-width: 480px) {
  header nav ul li a {
    font-size: 12px;
    margin: 1vw;
  }
  header nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  /*nosotros*/
  .mainIndex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    height: auto;
    padding-top: 2vh;
  }
  .mainIndex .imagenDerecha {
    height: 0%;
    width: auto;
    padding-top: 2vh;
  }
  .mainIndex .imagenDerecha img {
    width: 84%;
    padding-left: 3vw;
    padding-bottom: 1vh;
  }
  .mainIndex .imagenDerecha figcaption {
    padding-left: 2vw;
    padding-right: 9vw;
  }
  .mainIndex .videoPanga {
    height: 0%;
    width: auto;
    padding-top: 1vh;
    padding-bottom: 3vh;
    padding-top: 3vh;
    padding-right: 9vw;
  }
  .mainIndex .imagenIzquierda {
    height: 0%;
    width: auto;
  }
  .mainIndex .imagenIzquierda img {
    width: 84%;
    padding-left: 3vw;
    padding-bottom: 1vh;
  }
  .mainIndex .imagenIzquierda figcaption {
    padding-left: 2vw;
    padding-right: 9vw;
  }
  .mainIndex .intro p {
    padding-right: 9vw;
    padding-top: 3vh;
  }
  /*familiapanga*/
  .tituloFamilia {
    margin-left: 0vh;
    font-size: 9vh;
  }
  .presentacion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .tobi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .tobi img {
    padding-left: 6vw;
  }
  .perfilTobi {
    padding-left: 3vh;
  }
  .juancruz {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap-reverse;
            flex-flow: row wrap-reverse;
  }
  .perfilJuan {
    padding-left: 3vh;
  }
  .simon {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .simon img {
    padding-left: 6vw;
  }
  .perfilSimon {
    padding-left: 3vh;
  }
  .pablo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap-reverse;
            flex-flow: row wrap-reverse;
  }
  .perfilPablo {
    padding-left: 0vh;
    padding-bottom: 2vh;
    margin-right: 38vw;
  }
  /*galeria*/
  .galeria {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    padding-bottom: 2vh;
  }
  .galeria h2 {
    padding-top: 2vh;
    font-size: 6vh;
  }
  .galeria img {
    width: 477px;
    height: 210px;
  }
  .galeria .insta {
    width: 100%;
    padding-top: 2vh;
    margin-bottom: 22vh;
  }
  /*contacto*/
  .formulario h1 {
    font-size: 6vh;
  }
  article {
    padding-left: 2vh;
  }
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90vw;
  }
  .email {
    width: 100%;
  }
  .comentario {
    width: 60vw;
  }
}

/*celular 320*/
@media (max-width: 320px) {
  .mainIndex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    height: auto;
    padding-top: 2vh;
  }
  .mainIndex .imagenDerecha {
    height: 0%;
    width: auto;
  }
  .mainIndex .videoPanga {
    height: 0%;
    width: auto;
    padding-top: 1vh;
    padding-bottom: 3vh;
    padding-top: 3vh;
  }
  .mainIndex .imagenIzquierda {
    height: 0%;
    width: auto;
  }
  header nav ul li a {
    margin: 1vh;
    font-size: 7px;
  }
  /*familia panga*/
  .tituloFamilia {
    margin-left: 0vh;
    font-size: 9vh;
  }
  .presentacion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .tobi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .perfilTobi {
    padding-left: 0vh;
  }
  .juancruz {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap-reverse;
            flex-flow: row wrap-reverse;
  }
  .perfilJuan {
    padding-left: 0vh;
  }
  .simon {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .perfilSimon {
    padding-left: 0vh;
  }
  .pablo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap-reverse;
            flex-flow: row wrap-reverse;
  }
  .perfilPablo {
    padding-left: 0vh;
  }
  /*galeria*/
  .galeria {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    padding-bottom: 2vh;
  }
  .galeria img {
    width: 303px;
    height: 136px;
  }
  .galeria .insta {
    width: 100%;
  }
  /*contacto*/
  .formulario h1 {
    font-size: 6vh;
  }
  article {
    padding-left: 2vh;
  }
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90vw;
  }
  .email {
    width: 100%;
  }
  .comentario {
    width: 60vw;
  }
}
/*# sourceMappingURL=estilos.css.map */