.title{
   width: 100%;
   text-align: center;
   font-weight: bolder;
   text-transform: uppercase;
}

.subtitle{
   width: 100%;
   text-align: center;
   text-decoration: underline;
}

main{
   height: 90vw;
}

.w-25 {
   width: 40%!important;
}

body, html{
   margin: 0;
   padding: 0;
}

.galeria img {
   width: 100px;
   height: 100px;
}

.galeria figure{
   width: 15%;
}