

@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');




*{
   padding: 0;
   margin:0;
   font-family: 'Original Surfer', cursive;
}

footer{
    width:100%;
    background-color: lightblue ;
    h2{
        font-size: 2vh;
    }
    p{
        font-size: 1.2vh;
    }
    small{
        font-size: .8vh;
    }
    .grupo1{
        width:100%;
        max-width:1200px;
        margin:auto;
    }
}

.red-social{
    display:flex;
    gap:1px;
}

/*mapa*/

$redes:(
    twitter: #55acee,
    facebook: #3a5795,
    instagram: #C25E30,
);

@each $red, $color in $redes {
    .btn--#{$red}{
        background-color: $color;
    }
}
 
header{
    background-color: lightblue;
    height: 2cm;
    display: flex;
    flex-flow: row nowrap;
    .logo{
     width: 10%;
     height:100%;
  }
    nav{
     display: flex;
     width:90%;
     justify-content: space-around;
     align-items: center;
     ul{
         display: flex;
         justify-content: space-evenly;
         li{
             list-style: none;
             a{
                 text-decoration:none ;
                 color:black;
                 font-size: 16px;
                 margin: 1cm;
              }
           }
         }
     }
 
 }
p{
   color:black;
}
 

/*index*/
.intro{
   color: black;
   padding: 40px;
   padding-bottom: 40px;
   font-size: 0.5cm;
   h1{
    text-align: center;
 }
}
 


 

main{
   background-color: cornsilk;
}
.claseTitulo{
   font-size: 3cm;
}
 
/*extend*/
.color{
    color: black;
}
 
h1{
   @extend.color;
   border: whitesmoke;
}

/*fin extend*/
 


.imagenes{
    display: flex;   
    flex-direction: row;
   justify-content: wrap;



}


main{
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   align-items: flex-end;
}

.intro{
   justify-content: flex-start;
   align-items: flex-start;
   margin-bottom: 6vw;
}

/*mixin*/
@mixin dimensiones ($width, $height) {
    height: $height;
    width: $width;
}

.mainIndex{
   display: grid;
   width: 100vw;
   grid-template-rows: 20vw 44vw;
   grid-template-columns: 27vw 45vw 27vw;
   grid-template-areas:
       "intro intro intro"
       "imagenderecha video imagenizquierda";
   justify-content: center;
   justify-items: center;
   align-content: center;
   padding-top: 2cm;
   height:26cm;
    img{
        @include dimensiones (150,150);

    }
    padding-bottom: 30vh;
}



.intro{
   grid-area: intro;
}

.imagenIzquierda{
   grid-area: imagenIzquierda;
   grid-row:2/2;
   grid-column: 3/3;
   height: 100%;
   width: 100%;
   img {
    width: 100%;
    height: 60%;
 }
}



.videoPanga{
   grid-area: video;
   grid-row: 2/2;
   grid-column:2/2;
   height: 100%;
   width: 90%;
}



.imagenDerecha{
   grid-area: imagenderecha;
   grid-row: 2/2;
   grid-column:1/1;
   height: 100%;
   width: 100%;
    img {
    width: 100%;
    height: 60%;
 }

}


/*galeria*/

.titulo{
   padding: 2vh;
   font-size: 10vw;
}

.galeria{
   display: grid;
   grid-template-rows:  1fr 1fr 1fr ;
   grid-template-columns: 2fr 1fr;
   grid-template-areas: "surf insta"
                        "vistas insta"
                        "momentos insta";
   height: 100%;
   h2{
    width: 100%;
    font-size: 7vh;
 }
 figure{
    width:18,5%;
 }
 img{
   width: 186px;
   height: 141px;
 }
 blockquote{
    width: 20vh;
    height: 70vh;
 }
}

.momentos{
 grid-area: momentos; 
 display: flex;
 flex-flow: row wrap; 
 grid-column: 1/1;
 grid-row: 3/3 ;
 padding-bottom: 9vh;
 padding-left: 3vw;
 

}
.vistas{
   grid-area: vistas;
   display: flex;
   flex-flow: row wrap; 
   grid-column: 1/1;
   grid-row: 2/2;
   padding-bottom: 9vh;
   padding-left: 3vw;
   
}

.surf{
grid-area: surf;
display: flex;
flex-flow: row wrap; 
grid-column: 1/1;
grid-row: 1/1;
padding-bottom: 9vh;
padding-left: 3vw;

}

.insta{
   grid-area: insta;
   width: 80%;
   height: 80%;
   display:flex;
   flex-flow: row wrap;
   grid-row: 1/3;
   grid-column: 2/2;
 

}


/*nuestras tablas*/


.linea{
   background: black;
   height: 5px;
   width:100%;
   display:block;
}

#inicio{
   width: 50px;
   height: 50px;
   background: black;
}

.catalogo{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
   width:95%;
   margin: auto;
   grid-gap: 10px;
   padding: 40px 0;
   overflow: hidden;
   img{
    width: 100%;
    height: 300px;
    vertical-align: top;
    object-fit: cover;
    transition: transform 0.5s;
 }
 
}



.galeria > a{
   display:block;
   position:relative;
   overflow: hidden;
   box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.catalogo a:hover{
   filter:blur(2px);
   transform: scale(1.3);
}

.light-box{
   position: fixed;
   top:0;
   left:0;
   background: rgba(0, 0, 0, .5);
   transition: transform .3s ease-in-out;
   width:100%;
   height: 100vh;
   z-index: 1000;
   display: flex;
   justify-content:center;
   align-items: center;
   transform: scale(0);
   img{
    width:75vw;
    max-height: 70vh;
 }
}


.light-box:target{
   transform: scale(1);
}

.cerrar{
   display:block;
   position: absolute;
   top: 40px;
   right: 40px;
   background: aqua;
   color: bisque;
   text-decoration: none;
   width: 40px;
   height: 40px;
   text-align: center;
   line-height: 40px;
   border-radius: 50%;

}

.siguiente{
   display:block;
   background: aqua;
   color: bisque;
   height: 30px;
   width: 30px;
   line-height: 30px;
   text-decoration: none;
   text-align: center;
}


/* familia panga*/
.presentacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
 }
  
.simon {
  padding-top: 5vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
 }

   
 .tobi{
   padding-top: 5vh;
   width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   justify-content: space-around;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
       -ms-flex-flow: row nowrap;
           flex-flow: row nowrap;
  }
    
 .juancruz{
   padding-top: 5vh;
   width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   justify-content: space-around;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
       -ms-flex-flow: row nowrap;
           flex-flow: row nowrap;
  }

  .pablo{
   padding-top: 5vh;
   width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   justify-content: space-around;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
       -ms-flex-flow: row nowrap;
           flex-flow: row nowrap;
  }
  
 .perfilTobi, .perfilJuan, .perfilSimon, .perfilPablo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding-left: 9vh;
  padding-top: 7vh;
 }
  
 .tobi img, .juancruz img, .simon img, .pablo img {
  width: 44vh;
  height: 29vh;
 }
  
 .tituloFamilia {
  text-align: center;
  margin-left: 30vh;
  font-size: 11vh;
 }
  
 .pablo{
  padding-bottom: 2vh;
 }
 

/*contacto*/

.formulario{
   display: flex;
   flex-flow: column nowrap;
   padding-bottom: 41vh;
   padding-top: 10vh;
   align-items: center;
   h1{
    font-size: 9vh;
 }

}


form{
   font-size:22px;
}
.nombre{
   margin-bottom:3vh;
   padding-bottom: 1vh;
   text-align:center;
}

.comentario{
   margin-top: 3vh;
   padding-right:10vh;
}

.email{
   margin-bottom:3vh;
   text-align:center;
}

.edad{
   margin-top:3vh;
   margin-bottom:3vh;
}

.no{
   margin-bottom:3vh;
}

.enviar{
   margin-right:3vh;
   padding: 2vh 2vh 2vh 2vh;
}

.reset{
   padding: 2vh 2vh 2vh 2vh;
}

form{
   padding-top: 6vh;
}

.nombre, .comentario{
   width:60vh;
}

.comentario{
   height:9vh;
}

.email{
   width:47vh;

}




/* animaciones generales*/

li:hover{
   transform: scale(1,5);
   transition-property: all;
   transition-duration: 1s;

}


/*tablet 768*/
@media (max-width: 768px){
   header nav ul li a{
      margin: 3vw;
   }


   /*nosotros*/

   .mainIndex{
      .videoPanga{
         width:95%;
      }
   }

   /*galeria*/
   .insta{
      padding-right: 4vw;
   }
}


/*celular invertido 480*/

@media (max-width: 480px){
   header nav ul li a{
      font-size:12px;
      margin: 1vw;
   }

   header nav{
      justify-content: space-between;
   }

   /*nosotros*/
   .mainIndex{
      display: flex;
      flex-flow: row wrap;
      height: auto;
      padding-top: 2vh;
      .imagenDerecha{
         height: 0%;
         width: auto;
         padding-top:2vh;
         img{
            width: 84%;
            padding-left: 3vw;
            padding-bottom:1vh;

         }
         figcaption{
            padding-left:2vw;
            padding-right: 9vw;

         }
      }
      .videoPanga{
         height: 0%;
         width: auto;
         padding-top: 1vh;
         padding-bottom: 3vh;
         padding-top: 3vh;
         padding-right:9vw;
      }
      .imagenIzquierda{
         height: 0%;
         width:auto;
         img{
            width: 84%;
            padding-left: 3vw;
            padding-bottom:1vh;
         }
         figcaption{
            padding-left:2vw;
            padding-right: 9vw;
         }
      }
      .intro{
         p{
            padding-right: 9vw;
            padding-top: 3vh;
         }
      }

   
   }

   /*familiapanga*/

   .tituloFamilia{
      margin-left: 0vh;
      font-size: 9vh;
   }
   .presentacion{
      display: flex;
      flex-flow: column wrap;

   }
   .tobi{
      display: flex;
      flex-flow: column wrap ;
      img{
         padding-left: 6vw;
      }
   }

   .perfilTobi{
      padding-left: 3vh;

   }

   .juancruz{
      flex-flow: row wrap-reverse;

   }
   .perfilJuan{
      padding-left: 3vh;
   }

   .simon{
      flex-flow: column wrap;
      img{
         padding-left: 6vw;
      }
   }
   

   .perfilSimon{
      padding-left: 3vh;
   }

   .pablo{
      flex-flow: row wrap-reverse;
   }

   .perfilPablo{
      padding-left: 0vh;
      padding-bottom: 2vh;
      margin-right: 38vw;
   }

   /*galeria*/

   .galeria{
      display:flex;
      flex-flow: row wrap;
      padding-bottom: 2vh;
      h2{
         padding-top: 2vh;
         font-size: 6vh;
      }
      img{
         width: 477px;
         height: 210px;
      }
      .insta{
         width: 100%;
         padding-top: 2vh;
         margin-bottom: 22vh;
      }
   
   }

   /*contacto*/

   .formulario h1{
      font-size: 6vh;
   }
   article{
      padding-left: 2vh;
   }
   form{
      display:flex;
      flex-flow: row wrap;
      align-items: center;
      width: 90vw;
   }
   .email{
      width: 100%;
   }
   
   .comentario{
      width: 60vw;
   }
   
   





}

/*celular 320*/



@media (max-width: 320px){
   .mainIndex{
      display: flex;
      flex-flow: row wrap;
      height: auto;
      padding-top: 2vh;
      .imagenDerecha{
         height: 0%;
         width: auto;
      }
      .videoPanga{
         height: 0%;
         width: auto;
         padding-bottom: 3vh;
         padding-top: 3vh;
         padding-left: 6vw;
      }
      .imagenIzquierda{
         height: 0%;
         width:auto;
      }

   
   }

   header nav ul li a{
      margin: 1vh;
      font-size: 7px;
   }

   /*familia panga*/
      .tituloFamilia{
      margin-left: 0vh;
      font-size: 9vh;
   }
   .presentacion{
      display: flex;
      flex-flow: column wrap;

   }
   .tobi{
      display: flex;
      flex-flow: column wrap ;
   }

   .perfilTobi{
      padding-left: 0vh;

   }

   .juancruz{
      flex-flow: row wrap-reverse;

   }
   .perfilJuan{
      padding-left: 0vh;
   }

   .simon{
      flex-flow: column wrap;
   }

   .perfilSimon{
      padding-left: 0vh;
   }

   .pablo{
      flex-flow: row wrap-reverse;
   }

   .perfilPablo{
      padding-left: 0vh;
   }



/*galeria*/
.galeria{
   display:flex;
   flex-flow: row wrap;
   padding-bottom: 2vh;
   img{
      width: 303px;
      height: 136px;
   }
   .insta{
      width: 100%;
   }

}


/*contacto*/

.formulario h1{
   font-size: 6vh;
}
article{
   padding-left: 2vh;
}
form{
   display:flex;
   flex-flow: row wrap;
   align-items: center;
   width: 90vw;
}
.email{
   width: 100%;
}

.comentario{
   width: 60vw;
}

}




