@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');
@import "generales";
@import "nosotros";


*{
   padding: 0;
   margin:0;
}
 

h2, h3, p, figcaption{
   font-family: 'Original Surfer', cursive;
   
}
 


.logo{
   width: 10%;
   height:100%;
}
 

 
p{
   color:black;
}
 

/*index*/
.intro{
   color: black;
   padding: 40px;
   padding-bottom: 40px;
   font-size: 0.5cm;
   h1{
    text-align: center;
 }
}
 

 
main{
   background-color: cornsilk;
   
}

h1{
    color: black;
    border: whitesmoke;
    font-family: 'Original Surfer', cursive;
 }

.claseTitulo{
   font-size: 3cm;
   font-family: 'Original Surfer', cursive;
}
 
footer{
   background-color: lightblue;
   font-size: 0.3cm;
   font-family: sans-serif;
 
  
}


 

 


.imagenes{
    display: flex;   
    flex-direction: row;
   justify-content: wrap;



}





main{
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   align-items: flex-end;
}











/*galeria*/

.titulo{
   padding: 2vh;
   font-size: 10vw;
}





.galeria{
   display: grid;
   grid-template-rows:  1fr 1fr 1fr ;
   grid-template-columns: 2fr 1fr;
   grid-template-areas: "surf insta"
                        "vistas insta"
                        "momentos insta";
   height: 100%;
}



.momentos{
 grid-area: momentos; 
 display: flex;
 flex-flow: row wrap; 
 grid-column: 1/1;
 grid-row: 3/3 ;

}
.vistas{
   grid-area: vistas;
   display: flex;
   flex-flow: row wrap; 
   grid-column: 1/1;
   grid-row: 2/2;
}

.surf{
grid-area: surf;
display: flex;
flex-flow: row wrap; 
grid-column: 1/1;
grid-row: 1/1;
}

.insta{
   grid-area: insta;
   width: 80%;
   height: 80%;
   display:flex;
   flex-flow: row wrap;
   grid-row: 1/3;
   grid-column: 2/2;

}

.galeria h2{
   width: 100%;
}

.galeria figure{
   width:18,5%;
}

.galeria img{
   width: 180px;
   height: 115px;
}
.galeria blockquote{
   width: 20vh;
   height: 70vh;
}


/*celular*/

@media screen and (max-width:320px){
   .galeria{
      display: flex;
      flex-flow: row wrap;
      justify-content: start;
      padding-bottom:2cm;




   }

   header{
      font-size:5px;
   }

   .galeria blockquote{
      width: 49vh;
      height: 70vh; }


   nav ul li a {
      text-decoration: none;
      color: black;
      font-size: 7px;
      font-family: 'Original Surfer', cursive;
  }
  
  ul li a {
      margin: 2vh;
  }
  ul li{
     display: flex;
     flex-flow: row wrap;
  }

  .galeria blockquote{
   width: 56vh;
   height: 70vh;
}

   .galeria img{
   width: 320px;
   height: 182px;
}




.mainIndex{
   display: flex;
   flex-direction: row; 
   flex-wrap:wrap;
   height:44cm;
   padding-bottom: 1cm;
}
.imagenIzquierda{
   width:100%;
   height:25%;
}
.imagenDerecha{
   width:100%;
   height:25%;

}

.titulo{
   padding-top:8vh;
}

.videoPanga{
   width:96%;
   height:25%;
   margin-bottom: 23vh;
}

blockquote{
   min-width: none;

}

}
/*tablet*/
@media screen and (max-width:768px){
   nav ul li a {
      font-size: 11px;
  }

  .mainIndex {
   padding-top: 0cm;
  }

   ul li a {
      margin: 2vh;
  }

  nav {
   justify-content: flex-start;
  }

  .imagenDerecha{
     width:80%;
  }

  .imagenIzquierda{
     width:80%;
  }



  }





/* animaciones generales */

li:hover{
   transform: scale(1,5);
   transition-property: all;
   transition-duration: 1s;

}


/* nuestras tablas*/
.linea{
   background: black;
   height: 5px;
   width:100%;
   display:block;
}

#inicio{
   width: 50px;
   height: 50px;
   background: black;
}

.catalogo{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
   width:95%;
   margin: auto;
   grid-gap: 10px;
   padding: 40px 0;
   overflow: hidden;
}

.catalogo img{
   width: 100%;
   height: 300px;
   vertical-align: top;
   object-fit: cover;
   transition: transform 0.5s;
}

.galeria > a{
   display:block;
   position:relative;
   overflow: hidden;
   box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.catalogo a:hover{
   filter:blur(2px);
   transform: scale(1.3);
}

.light-box{
   position: fixed;
   top:0;
   left:0;
   background: rgba(0, 0, 0, .5);
   transition: transform .3s ease-in-out;
   width:100%;
   height: 100vh;
   z-index: 1000;
   display: flex;
   justify-content:center;
   align-items: center;
   transform: scale(0);
}

.light-box img{
   width:75vw;
   max-height: 70vh;
}

.light-box:target{
   transform: scale(1);
}

.cerrar{
   display:block;
   position: absolute;
   top: 40px;
   right: 40px;
   background: aqua;
   color: bisque;
   text-decoration: none;
   width: 40px;
   height: 40px;
   text-align: center;
   line-height: 40px;
   border-radius: 50%;

}

.siguiente{
   display:block;
   background: aqua;
   color: bisque;
   height: 30px;
   width: 30px;
   line-height: 30px;
   text-decoration: none;
   text-align: center;
}


/* familia panga*/
.presentacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;

 }
  
 .tobi, .juancruz, .simon, .pablo {
  padding-top: 5vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
          
 }
  
 .perfilTobi, .perfilJuan, .perfilSimon, .perfilPablo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding-left: 9vh;
  padding-top: 7vh;
 }
  
 .tobi img, .juancruz img, .simon img, .pablo img {
  width: 44vh;
  height: 29vh;
 }
  
 .tituloFamilia {
  text-align: center;
  margin-left: 30vh;
  font-size: 11vh;
 }
  
 .pablo{
  padding-bottom: 2vh;
 }
 

/*contacto*/

.formulario{
   display: flex;
   flex-flow: column nowrap;
   padding-bottom: 41vh;
   padding-top: 10vh;
   align-items: center;

}

.formulario h1{
   font-size: 9vh;
}

form{
   padding-top: 6vh;
}

.nombre, .comentario{
   width:60vh;
}

.comentario{
   height:9vh;
}

.email{
   width:47vh;

}